.button {
    padding: 8px;
    width: 176px;
    height: 50px;
    background: #054c73;
    border: solid #054c73 1px;
    border-radius: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}

.caption {
    margin-top: 46px;
    &__subtitle {
        font-weight: bold;
        font-size: 32px;
        text-align: center;
        color: #333333;
        padding: 8px;
    }

    &__text {
        font-weight: normal;
        font-size: 20px;
        text-align: center;
        color: #666666;
        padding: 8px;
    }
}

.form {
    width: 386px;
    height: auto;
    margin: 36px auto 36px auto;
    &__input {
        width: 256px;
        height:48px;
        background: #ffffff;
        border: 1px solid #054c73;
        border-radius: 3px;
    }

    &__button {
        width: 120px;
        height:48px;
        background: #054c73;
        border: 1px solid #011c42;
        border-radius: 3px;
        font-weight: bold;
        font-size: 16px;
        color: #ffffff;
    }
}
