.text {
    font-weight: 400;
    font-size: 18px;
    color: $text-color;
    padding: 0px 0px $step * 2 0px;
    line-height: 2;

    @media (max-width: 576px) {
        &_hidden {
            display: none;
        }
    }
}

.button {
    padding: $step;
    width: 176px;
    height: 50px;
    background: $bg-color-blue;
    border: solid $bg-color-blue 1px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;

    @media (min-width: 768px) {
        width: 156px;
        height: 46px;
    }

    @media (max-width: 576px) {
        padding: $step;
        width: 146px;
        height: 46px;
        border-radius: 50px;
        font-size: 14px;
    }
}

.caption {
    &__subtitle {
        font-weight: bold;
        font-size: 32px;
        text-align: center;
        color: $text-color;
        padding: $step;
    }
    &__text {
        font-weight: normal;
        font-size: 20px;
        text-align: center;
        color: #666666;
        padding: $step;
    }

    @media (min-width: 768px) {
        &__subtitle {
            font-size: 28px;
        }
        &__text {
            font-size: 20px;
        }
    }

    @media (max-width: 576px) {
        &__subtitle {
            font-size: 24px;
        }
        &__text {
            font-size: 18px;
        }
    }
}

.form {
    width: 386px;
    height: auto;
    &__input {
        width: 256px;
        height: 48px;
        background: $bg-color-light;
        border: 1px solid $bg-color-blue;
        border-radius: 3px;
        padding: $step;
    }
    &__button {
        width: 120px;
        height: 48px;
        background: $bg-color-blue;
        border: 1px solid #011c42;
        border-radius: 3px;
        font-weight: bold;
        font-size: 16px;
        color: $text-color-light;
    }

    @media (max-width: 320px) {
        width: 220px;
        &__input {
            width: 218px;
            margin-bottom: 16px;
        }

        &__button {
            width: 120px;
            margin-bottom: 16px;
        }
    }
}
