// //ОБОЛОЧКА
// .container {
//     max-width: $container-max-widths;
//     margin: 0 auto;
//     @media (max-width: $md1) {
//         max-width: 970px;
//     }
//     @media (max-width: $md1) {
//         max-width: 970px;
//     }
//     @media (max-width: $md2) {
//         max-width: 750px;
//     }
//     @media (max-width: $md3) {
//         max-width: none;
//         padding: 0 10px;
//     }
// }

.container {
    max-width: $container-max-widths;
    margin: 0 auto;
    @media (max-width: 479.98px) {
        max-width: none;
        padding: 0 10px;
    }
    @media (max-width: 576px) {
        max-width: 556px;
    }

    @media (max-width: 768px) {
        max-width: 750px;
    }

    @media (max-width: 992px) {
        max-width: 970px;
    }

    // Устройства X-Large (большие настольные компьютеры,)
    @media (max-width: 1200px) {
        max-width: $container-max-widths;
        margin: 0 auto;
    }

    // @media (max-width: 1400px) { ... }
}

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1320px
// );
