$step: 8px;

//РАЗМЕРЫ КОНТЕЙНЕРОВ
$container-max-widths: 1200px;
$minWidth: 320px;
$maxWidth: 1440px;
$md1: $container-max-widths + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

//ЦВЕТ ФОНА
 $bg-color-light: #ffffff;
 $bg-color-light-blue: #F2F5FF;
 $bg-color-blue: #054c73;

//ЦВЕТ ТЕКСТА
$title-color: #054c73;
$text-color: #333333;
$text-color-light: #ffffff;
$link-hover: #054c73;


// $text-color-main: #f2f2f2;
// $grid-column: 12;
// $border-color: #f2f2f2;
// $color-active-btn: #6c757d;
// $color-btn: #343a40;
// $color-active-link: #f2f2f2;
// $font-weight-thin: 300;
// $font-size-small: 14px;
// $font-size-medium: 18px;
// $font-size-large: 20px;
// $font-size-default: 16px;

