$step: 8px;

//РАЗМЕРЫ КОНТЕЙНЕРОВ
$container-max-widths: 1200px;
$minWidth: 320px;
$maxWidth: 1440px;
$md1: $container-max-widths + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

//ЦВЕТ ФОНА
 $bg-color-light: #ffffff;
 $bg-color-light-blue: #F2F5FF;
 $bg-color-blue: #054c73;

//ЦВЕТ ТЕКСТА
$title-color: #054c73;
$text-color: #333333;
$text-color-light: #ffffff;
$link-hover: #054c73;