.section-main {
    padding: 120px 0px 120px 0px;
    background: url("../../img/bd-main.png") repeat;
    background-size: 100%;

    &__introduction {
        width: 42%;
        background: #dfe9f4;
        border-radius: 10px;
        padding: $step * 4;
        margin: 0px 0px 0px 50%;
    }
    &__text {
        font-weight: 500;
        padding: 0px 0px $step * 2 0px;
    }
    &__title {
        font-size: 36px;
        font-weight: 700;
        text-align: left;
        color: $title-color;
        padding: 0px 0px $step * 2 0px;
    }
}
