.features {
    background-color: $bg-color-light-blue;
    padding: $step * 6 0px $step * 6 0px;
    height: 184px;
    &__item {
        float: left;
        width: 33.33%;
        padding: $step * 2 0px 0px $step * 2;
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        color: #333333;
        padding-bottom: $step;
    }
    &__text {
        font-size: 16px;
        padding-bottom: $step;
    }
    &__img {
        float: left;
        width: auto;
        padding: 0px $step * 2 0px $step;
    }

    @media (max-width: 992px) {
        &__item {
            width: 30%;
        }
        &__img {
            padding: 10px $step * 2 0px $step;
        }
    }

    // @media (min-width: 768px) {
    //     &__item {
    //         width: 33%;
    //     }
    //     &__title {
    //         font-size: 18px;
    //     }
    //     &__text {
    //         font-size: 14px;
    //     }
    // }
}
