.section-works {
    width: 100%;
    height: 801px;
    background-color:  $bg-color-light;
    padding: $step*6 0px $step*6 0px;
    border-top: 1px solid #d7d6d6;
    &__lists {
        padding: $step*3 0px 0px 0px;
    }
    &__item {
        width: 29%;
        height: auto;
        float: left;
        margin: 0% 2% 0% 2%;
    }
    &__img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        color: $text-color;
        padding: 0px 0px 8px 0px;
    }
    &__text {
        font-size: 16px;
        text-align: center;
    }
    &__circle {
        position: relative;
        top: -41px;
        left: 140px;
        width: 72px;
        height: 72px;
        background-color: black;
        border: 10px solid  $bg-color-light;
        border-radius: 50%;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        padding-top: 14px;
        padding-left: 6px;
        color:  $bg-color-light;
    }

    @media (max-width: 768px) {
        height: 721px;
        &__title {
            font-size: 18px;
            line-height: 1.5;
        }
        &__text {
            font-size: 14px;
            text-align: center;
        }
        &__circle {
            top: -41px;
            left: 70px;
        }
    }
}
