.section-feedback {
    width: 100%;
    height: 336px;
    background:  $bg-color-light-blue;
    padding: $step * 6 0px $step * 6 0px;

    &__form {
        padding: $step * 3 0px $step * 3 0px;
        margin: auto;
    }

    @media (max-width: 576px) {
        height: 320px;
    }
}
